/* phone */
@media screen and (max-width: 1000px) {
    .nav-wide-visible { display: none !important; }
    .nav-phone-visible { display: flex !important; }
}

/* pc */
/* @media screen and NOT (max-width: 1000px) {
    .navbar-dropdown { height: 0 !important; }
} */

.center-wrapper {
    position: fixed; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px) saturate(150%);
    -webkit-backdrop-filter: blur(5px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    position: relative;
    display: flex;
    justify-content: space-between; align-items: center;
    flex-direction: row;
    width: 100%; min-height: 80px;
    margin: 1.5em; padding: 0 2em;
    border-radius: 15px;
}

.nav-wide-visible { display: flex;}
.nav-phone-visible { display: none; }
.nav-wide-visible, .nav-phone-visible {
    position: relative;
    justify-content: space-between; align-items: center;
    flex-direction: row;
    width: 100%;
}

.nav-logo { width: 150px; height: auto; transition: transform .2s ease; }
.nav-logo:hover { transform: scale(1.075); }

.navbar-link {
    text-decoration: none; cursor: pointer;
    color: black;
    font-weight: 500;
}

.navbar-dropdown {
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-content: center; align-items: center;
    gap: .5em; 
    position: absolute; 
    top: 5em; right: 0; 
    background-color: red; 
    border-radius: 1em; 
    padding: 0 1em;

    transition: .4s ease-in;   
}