html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-container {
  padding-top: 12rem;
}

.col {
  padding-bottom: 0.5rem;
}

form {
    padding-top: 0.5rem;
}

.form-button {
  background-color: var(--primary);
  color: #fff;
}

.form-button:hover {
  background-color: #ba12aa;
  color: #fff;
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(123, 40, 174, 0.35);
  outline: none;
}

main {
  flex: 1;
}