html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-info {
  margin-top: 9em;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #ba12aa 0%, var(--primary) 100%);
  background-size: 90% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  gap: .5em;
  padding: 0;
}

.contact-info div {
  background: var(--bg-light);
  height: 100%;
  width: 50%;
  text-align: center;
  color: var(--primary);
  font-family: 'Prompt', monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-info div svg {
  margin-top: .5em;
}

.contact-info a {
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
  color: var(--primary);
}

.col {
  padding-bottom: 0.5rem;
}

form {
    padding-top: 0.5rem;
}

.form-group p {
  color: var(--dark-text-color);
  font-family: 'Prompt', monospace;
  font-size: 1.1em;
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1em auto;
  gap: .5em;
}

.form-button {
  background-color: #ba12aa;
  color: #fff;
}

.form-button:hover {
  background-color: #da32ca;
  color: #fff;
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(123, 40, 174, 0.35);
  outline: none;
}

main {
  flex: 1;
}

@media (max-width: 991px) {
  .contact-info {
    margin-top: 7em;
    flex-direction: column;
    background: linear-gradient(90deg, #ba12aa 0%, var(--primary) 100%);
    background-size: 75% 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    align-items: space-between;
    justify-content: center;
    gap: .5em;
  }

  .contact-info div {
    width: 100%;
    height: auto;
  }

  .custom-span {
    margin: 0;
  }
}