.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px) saturate(150%);
  -webkit-backdrop-filter: blur(5px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #7b28ae;
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

.imagine-navbar {
  height: 40px;
  width: 150px;
}

/* Collapsed navbar */

.offcanvas {
  background: transparent;
  margin: 1em;
}

.offcanvas-backdrop {
  margin-top: 5em;
  background: linear-gradient(
    90deg,
    #fff 0%,
    transparent 100%
  );
  filter: blur(2px);
  -webkit-filter: blur(2px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: solid 1px #fff;
  border-radius: 1em;
  transition: opacity 0.5s ease;
  height: max(30dvh, 22em);
  width: calc(100vw - 2.5em);
}

.offcanvas-backdrop.show {
  opacity: 1;
  transition: all 0.8 ease;
}

.offcanvas-header {
  opacity: 0;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}

#offcanvasNavbar {
  border: none;  
}

.offcanvas-body {
  padding-bottom: max(calc(50dvh - 4rem), 20rem);

  overflow: visible;
  position: relative;
}

.offcanvas-body ul {
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Media query */

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #7b28ae;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
