.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px) saturate(150%);
  -webkit-backdrop-filter: blur(5px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: var(--primary);
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #000;
  font-weight: 500;
  position: relative;
}

.nav-item {
  top: -100%;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: var(--primary);
}

.imagine-navbar {
  height: 40px;
  width: 150px;
}

/* Collapsed navbar */

.offcanvas {
  background: transparent;
  margin: 1em;
  width: calc(100vw - 2.5em);
}

.offcanvas-backdrop {
  margin-top: 5em;
  background: linear-gradient(
    90deg,
    #ffffffa0 0%,
    #ffffff40 100%
  );
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: solid 1px #fff;
  border-radius: 1em;
  transition: opacity 0.5s ease;
  height: max(42dvh, 25em);
  width: calc(100vw - 3.1em);
}

.offcanvas-backdrop::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  background: var(--navbar-bg);
  transform: scale(1.1);
  z-index: -1;
}

.offcanvas-backdrop.show {
  opacity: 1;
  transition: all 0.8 ease;
}

.offcanvas-header {
  opacity: 0;
  background: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#offcanvasNavbar {
  border: none;
  width: calc(100vw - 2.5em);
}

.offcanvas-body {
  width: calc(100vw - 3.1em);
  top: 1em;
  left: 1em;
  padding-bottom: max(calc(42dvh - 1em), 24em);
  overflow: visible;
  position: relative;
}

.offcanvas-body ul {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(50%);
  display: flex;
  align-items: center;
}

/* Language related */

.lang-menu-active { height: 100px !important; }
.language-dropdown {
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  gap: .5em; 
  z-index: 2; 
  position: absolute; 
  top: 3.7em; left: -3px;
  height: 0px; width: 100%;
  padding: 0 1.5em;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px) saturate(150%);
  -webkit-backdrop-filter: blur(5px) saturate(150%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  transition: .2s ease;
}

.lang-link {
  color: #000;
  font-family: 'Prompt', monospace;
  transition: all 0.3s ease;
}

.lang-link:hover {
  color: #7b28ae;
  transform: scale(1.2);
}

.lang-link, .language-btn {
  text-decoration: none;
  cursor: pointer;
  transition: .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media (max-width: 990px) {
  .language-dropdown {
    flex-direction: row;
    top: 0px; left: 100%;
    padding: 0.2em 0em;
    justify-content: center;
    align-items: flex-start;
    width: 0px;

    visibility: none;
  }
  .lang-menu-active {
    height: 2em !important;
    width: 100% !important;
    visibility: visible;
  }
}

/* BIG NAVBAR */

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #7b28ae; /* Nu se modifica */
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }

  .offcanvas-body ul {
    top: -1em;
    right: 0px;
    left: auto;
  }
}