/* Titlu */

.section-title {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Parteneri */

.parteneri {
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 7em;
}

.container-p {
  display: grid;
  width: 100%vw;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.p {
  padding-bottom: 100px;
}

.parteneri .images img {
  height: 200px;
  width: 400px;
}

/* Tabelul partenerilor */

.partner-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.partner-square {
  transition: all 0.3s ease;
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.partner-square:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.grid-img {
  max-width: 70%;
  height: auto;
  display: block;
}

.caz-special {
  max-width: 50% !important;
  height: auto;
  display: block;
}

.grid-link {
  width: 100%;
  text-align: center;
  color: #7b28ae;
  font-size: min(1.5rem, 10vw);
  text-decoration: none;
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.partner-square:hover .grid-link:hover,
.partner-square:hover .grid-link:active {
  color: #7b28ae;
  text-decoration: underline;
}

.partner-square:hover .grid-link {
  opacity: 1;
}

/* Colorarea tabelului */

.platinum .partner-square {
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #e5e5e5 12.5%,
    #d9d9d9 25%,
    #9fb3c7 37.5%,
    #8a9fb4 50%,
    #9fb3c7 62.5%,
    #d9d9d9 75%,
    #e5e5e5 87.5%,
    #ffffff 100%
  );
  background-size: 200% 200%;
  background-position: 25% 25%;
  transition: background-position 0.6s ease, all 0.3 ease;
}

.platinum .partner-square:hover {
  background-position: 75% 75%;
}

.gold .partner-square {
  background: linear-gradient(
    135deg,
    #fff8dc 0%,
    #f6e27f 15%,
    #d4af47 30%,
    #c09334 50%,
    #d4af47 70%,
    #f6e27f 85%,
    #fff8dc 100%
  );
  background-size: 200% 200%;
  background-position: 25% 25%;
  transition: background-position 0.6s ease, all 0.3 ease;
}

.gold .partner-square:hover {
  background-position: 75% 75%;
}

.silver .partner-square {
  background: linear-gradient(
    135deg,
    #eeeeee 0%,
    #d4d4d4 20%,
    #aaa9ad 40%,
    #88888a 60%,
    #d4d4d4 80%,
    #eeeeee 100%
  );
  background-size: 200% 200%;
  background-position: 25% 25%;
  transition: background-position 0.6s ease, all 0.3 ease;
}

.silver .partner-square:hover {
  background-position: 75% 75%;
}

.partener-bg-clr .partner-square {
  background-color: #fff;
}